ul {
    list-style-type: none;
    text-decoration:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #ff9999;
    min-width: 100%;
}
Link{
    text-decoration: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 104.6px 15px ;
    text-decoration: none;
}

li :hover{
    color: coral;
    background-color: aqua;
}