link a {
  color: black;
  background-color: antiquewhite;
}

.Linkstyle {
  padding-right: 40px;
  padding-left: 40px;
  color: black;
}
#navbarDropdownMenuLink {
  color: black;
  padding-right: 60px;
  padding-left: 60px;
}
.logo {
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 1280px) {
  .navbar-expand-lg .navbar-nav li a {
    padding-right: 10px;
    padding-left: 10px;
  }
  #navbarDropdownMenuLink {
    padding-right: 10px;
    padding-left: 10px;
  }
}
